<div class="hero">
  <h1>
    Deep Cerulean Games and Simulations
  </h1>
</div>

<div class="nav content-section">
  <p>
     <a href="#portfolio">Portfolio</a>
     <a href="#contact">Contact</a>
     <a href="#issues">Issues</a>
  </p>
</div>

<div class='welcome content-section'>
  <h2>Let's play</h2>
  <p>
  Deep C builds fun games that make you think!
  </p>
</div>

<div class='portfolio content-section' id='portfolio'>
  <h2>Game Portfolio</h2>
  <div class='portfolio-item'>
    <h3>Dragon</h3>
    <p>Multiplayer text-based role-playing game in a procedurally-generated world. Who will defeat the legendary beast first?</p>
    <a class="play" href="http://reddragon.herokuapp.com">Play Dragon Now</a>
  </div>

  <div class='portfolio-item'>
    <h3>Busyverse</h3>
    <p>In this isometric 3-d city-building sim, you place buildings and give commands to workers (wandering, gathering -- you can even tell them to build more buildings!)</p>
    <a class="play" href="http://busyverse.herokuapp.com">Play Busyverse Now</a>
  </div>
</div>

<div class='contact content-section' id='contact'>
  <h2>Get in touch!</h2>
  <p>
    Have a multimedia or gaming project you're considering?
    <a href="mailto:joe@deepc.io"> Get in touch with us!</a>
  </p>
</div>

<div class='issues content-section' id='issues'>
  <h2>Issues</h2>
  <p>
    Consider reporting issues to github, or just directly to Joe on twitter <a href="http://twitter.com/fractalontology">@fractalontology</a>
  </p>
</div>
