<div class="hero section">
  <h1>
    Deep Cerulean
  </h1>

  <div class="nav section">
    <a href="#portfolio">Portfolio</a> .
    <a href="#contact">Inquiries</a> .
    <a href="#issues">Issues</a>
  </div>
</div>

<div class='welcome section'>
  <div class='section-content'>
    <p>
      <span style="color: white">&gt;</span>
      From engaging games to persuasive simulations, we're certain you'll discover Deep C provides immersive experiences that make you think.
    </p>
    <p><b>Happy gaming!</b></p>
    <div style='text-align: right'>
      <i>
        <b>Joseph Weissman</b> <small>DeepC Founder</small>
      </i>
    </div>
  </div>
</div>

<div class='portfolio section' id='portfolio'>
  <div class='portfolio-item' id='dragon'>
    <h3>
      Dragon
      <small>
        text-based, multiplayer, role-playing
      </small>
    </h3>
    <div class='section-content'>
      <p><b>Who will defeat the legendary beast?</b> Fantastic heroes compete in championships and explore a procedurally-generated world in this text-based multiplayer game.</p>
    </div>
    <br/>

    <a class="play" href="http://reddragon.herokuapp.com">Play Dragon Now</a>
  </div>


  <div class='portfolio-item' id='busyverse'>
    <h3>
      Busyverse
      <small>
        simulation, iso-3d, city planning
      </small>
    </h3>
    <div class='section-content'>
      <p>In this city-building sim, you orchestrate your workers' gathering of resources and exploration of a unique world. Click to place buildings and type in commands for workers.</p>
    </div>
    <br/>
    <a class="play" href="http://busyverse.herokuapp.com">Play Busyverse Now</a>

  </div>

</div>

<div class='issues section' id='issues'>
  <h2>Issues</h2>
  <div class='section-content'>
    <p>
    <b>How do I report defects?</b>
    All our portfolio projects are open source, so please consider reporting issues to us on our <a href="http://github.com/deepcerulean">Github</a> page.
    </p>
  </div>
</div>

<div class='contact section' id='contact'>
  <h2>Inquiries</h2>
  <div class='section-content'>
    <p>
    <b>Feedback on our work?</b>
    We want to hear it!
    </p>

    <p>
    <b>Do you have a multimedia or gaming project you're considering?</b>
    We'd love to work with you!
    </p>

    <p>
    <a href="mailto:joe@deepc.io">Email us now</a> or
    find us on twitter <a href="http://twitter.com/deep_cerulean">@deep_cerulean</a>
    </p>
  </div>
</div>
