<div class="hero section">
  <h1>
    Deep Cerulean
  </h1>
  <div class="nav section">
    <a href="#contact">Inquiries</a> .
    <a href="#portfolio">Portfolio</a>
    <small>
      (
      <a href="#dragon">Dragon</a> .
      <a href="#busyverse">Busyverse</a>
      )
    </small> .
    <a href="#issues">Issues</a>
  </div>
</div>

<div class='welcome section'>
  <div class='section-content'>
    <blockquote>
      <h3>
        <span style="color: white">&gt;</span>
        Welcome!
      </h3>
      <p>
      <span style="color: white">&gt;</span>
      From engaging games to persuasive simulations, we're certain you'll discover DeepC provides immersive experiences that make you think.</p>
      <p>
      <span style="color: white">&gt;</span>
      <b>Happy gaming!</b></p>
      <div style='text-align: right'>
        <p><i><b>--Joseph Weissman, DeepC Founder</b></i></p>
      </div>
    </blockquote>
  </div>
</div>

<div class='portfolio section' id='portfolio'>
  <div class='portfolio-item' id='dragon'>
    <h3>
      Dragon
      <small>
        text-based, multiplayer, role-playing
      </small>
    </h3>
    <div class='section-content'>
      <p><b>Who will defeat the legendary beast?</b> Fantastic heroes compete in championships and explore a procedurally-generated world in this text-based multiplayer game.</p>
      <div style='text-align:right'>
      <small>ruby, sinatra, websockets</small>
    </div>
    </div>
    <br/>
    <a class="play" href="http://reddragon.herokuapp.com">Play Dragon Now</a>
  </div>

  <div class='portfolio-item' id='busyverse'>
    <h3>
      Busyverse
      <small>
        simulation, iso-3d, city planning
      </small>
    </h3>
    <div class='section-content'>
      <p>In this city-building sim, you type in commands to automate your workers, making them gather resources, explore the world or develop the town.</p>
      <div style='text-align:right'>
      <small>coffeescript, html5 canvas, service workers, isomer.js</small>
    </div>
    </div>
    <br/>
    <a class="play" href="http://busyverse.herokuapp.com">Play Busyverse Now</a>
  </div>
</div>

<div class='issues section' id='issues'>
  <h2>Issues</h2>
  <div class='section-content'>
    <h3>How should you report defects?</h3>
    <p>
    All our portfolio projects are open source, so please consider reporting issues to us on our <a href="http://github.com/deepcerulean">Github</a> page.
    You can also <a href="mailto:bugs@deepci.io">report issues by email</a>.
    </p>
  </div>
</div>

<div class='contact section' id='contact'>
  <h2>Inquiries</h2>
  <div class='section-content'>
    <h3>You have a multimedia or gaming project?</h3>
    <p> We'd love to work with you if it's a good fit!</p>

    <h3>Constructive feedback on our work?</h3>
    <p>We want to hear it.</p>

    <h3>Get in touch with us!</h3>
    <p>
    <a href="mailto:inquiries@deepc.io">Email us now</a> or
    find us on twitter <a href="http://twitter.com/deep_cerulean">@deep_cerulean</a>.
    </p>
  </div>
</div>
