<div class="hero">
  <h1>
    Deep Cerulean Games and Simulations
  </h1>
</div>

<div class="nav section">
  <p>
     <a href="#portfolio">Portfolio</a>
     <a href="#contact">Contact</a>
     <a href="#issues">Issues</a>
  </p>
</div>

<div class='welcome section'>
  <div class='section-content'>
    <p>  
    From engaging games to persuasive simulations, we're certain you'll discover Deep C provides immersive experiences that make you think.
    <i>Happy gaming!</i>
    </p>
  </div>
</div>

<div class='portfolio section' id='portfolio'>
  <h2>Game Portfolio</h2>

  <div class='portfolio-item' id='busyverse'>
    <h3>Busyverse</h3>
    <p>In this isometric 3-D city-building sim, you click to place buildings and type in commands for workers. Orchestrate their exploration of the world, gathering resources -- you can even tell them to build more buildings!</p>
    <br/>
    <a class="play" href="http://busyverse.herokuapp.com">Play Busyverse Now</a>
  </div>

  <div class='portfolio-item' id='dragon'>
    <h3>Dragon</h3>
    <p>In this multiplayer text-based role-playing game, players compete in championships within a procedurally-generated world. Who will defeat the legendary beast first?</p>
    <br/>
    <a class="play" href="http://reddragon.herokuapp.com">Play Dragon Now</a>
  </div>

</div>

<div class='issues section' id='issues'>
  <h2>Issues</h2>
  <div class='section-content'>
  <p>
  Our portfolio projects are open source, so please consider reporting issues to <a href="http://github.com/deepcerulean">github</a>. 
  </p>
</div>
</div>

<div class='contact section' id='contact'>
  <h2>Get in touch!</h2>
  <div class='section-content'>
  <p>
    Have a multimedia or gaming project you're considering? 
    We'd love to work with you.
    <br>
    <a href="mailto:joe@deepc.io">Email us now</a> or
    talk directly to Joe on twitter <a href="http://twitter.com/fractalontology">@fractalontology</a>
  </p>
</div>
</div>
