<h2>Deep Cerulean</h2>

<p>
  <h1>We make games and simulations!</h1>
  <a href="http://reddragon.herokuapp.com">Play Dragon</a>
  <a href="http://busyverse.herokuapp.com">Play Busyverse</a>
</p>

<p>
  The time is now: <%= Time.now %>
</p>
