// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue-0: #5992C2;      // Main Primary color */
$blue-1: #B2D3EF;
$blue-2: #80B1DA;
$blue-3: #3A75A7;
$blue-4: #206196;

$yellow-0: #FFDB6B;  // Main Secondary color (1) */
$yellow-1: #FFEEBA;
$yellow-2: #FFE38F;
$yellow-3: #FFD34C;
$yellow-4: #E9B925;

$red-0: #FF976B;  // Main Secondary color (2) */
$red-1: #FFCEBA;
$red-2: #FFB08F;
$red-3: #FF814C;
$red-4: #E95F25;

$container-bg: white;
$container-fg: black;

$hero-bg: $blue-3;
$hero-fg: white;

$nav-bg: $blue-1;
$nav-fg: $blue-1;

$nav-item-bg: $blue-1;
$nav-item-fg: $blue-2;

$section-bg: $blue-4;
$section-fg: white;

$portfolio-bg: $blue-1;
$portfolio-fg: $blue-4;

$contact-bg: $yellow-1;
$contact-fg: $yellow-4;

$issues-bg: $red-1;
$issues-fg: $red-4;

$item-bg: $blue-3;
$item-fg: white;

$play-bg: $yellow-1;
$play-fg: $yellow-4;

.container {
  border: 1px solid black;
  background-color: $container-bg;
  color: $container-fg;
  margin: 0 auto;
}

.hero {
  background-color: $hero-bg;
  color: $hero-fg;
  color: white;
}

.hero h1 { 
  text-align: center; 
  margin: 0px;
  font-size: 48pt;
}

.content-section {
  text-align: left;
  background-color: $section-bg;
  color: $section-fg;
  padding: 45px;
  margin: 0px;
}

.content-section h2 { font-size: 48pt; }
.content-section h3 { font-size: 36pt; }
.content-section p { font-size: 24pt; }

.nav {
  background-color: $nav-bg;
  color: $nav-fg;
  padding: 2px;
  
}

.nav a {
  margin: 10px;
  background-color: $nav-item-bg;
  color: $nav-item-fg;
  font-size: 18pt;
}

.portfolio {
  background-color: $portfolio-bg;
  color: $portfolio-fg;
}

.portfolio-item {
  padding: 40px;
  margin: 120px;
  background-color: $item-bg;
  color: $item-fg;
}

.portfolio-item a.play {
  padding: 40px;
  display: inline;
  float: right;
  background-color: $play-bg;
  color: $play-fg;
  font-size: 24pt;
}

.contact {
  background-color: $contact-bg;
  color: $contact-fg;
}

.issues {
  background-color: $issues-bg;
  color: $issues-fg;
}

.footer {
  clear: both;
}
